* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.pirate-king-app {
  padding: 0.5rem;
}

.pirate-list {
  margin-top: 1rem;
}

.pirate-detail {
  margin-top: 2rem;
}
